<div class="tutorial-page">
    <div class=bottom-overlay *ngIf=showOverlay>
        <div class=overlay  *ngIf="showOverlay">
            <app-application-form class=form-container [closeOverlay]="closeOverlay" [courseInfo]="courseInfo"></app-application-form>
        </div>
    </div>
    <div class="top-container">
        <div class="sub-container">
            
            <div class="panel">
                <app-trainers-display [trainers] = "trainers"></app-trainers-display>
            </div>   
        </div>

        <div class="sub-container">
            <div class="panel">
                <div *ngIf="node">
                    <h2>Name:</h2>
                    <h4>{{node.name}}</h4>
                    <h2>Title:</h2>
                    <h4>{{nodeTitle}}</h4>
                    <h2>Omschrijving:</h2>
                    <h4>{{nodeDescription}}</h4>
                </div>
             </div>
        </div>
    </div>

    <div class="bottom-container">
        <div class="panel">
            <adf-breadcrumb
                [target]="documentList"
                [rootId]="nodeId">
            </adf-breadcrumb>

            <adf-document-list #documentList
                [currentFolderId]="nodeId"
                [contextMenuActions]="true"
                [contentActions]="true"
                (nodeSelected)="getInput($event)"
            >    
                    <content-actions>
                        <!-- custom handler for sign-up process -->
                        <content-action
                            target="folder"
                            title="Aanmelden"
                            [visible]="showSignUp"
                            (execute)="startSignUpProces($event)"
                            >
                        </content-action>
                    </content-actions>
            </adf-document-list>
        </div>
    </div>
</div>

