<div class="lesmateriaal">
  <div *ngIf="showViewer">
    <adf-viewer 
      [showViewer]="true" 
      [overlayMode]="true" 
      [showViewer]="showViewer"
      [nodeId]="selectedNodeId"
    >
    </adf-viewer>
  </div>

  <div class="panel-left">
    <adf-breadcrumb
    [target]="documentList"
    [rootId]="rootNodeId">
    </adf-breadcrumb>

    <adf-document-list #documentList
      [currentFolderId]="rootNodeId"
      [contextMenuActions]="true"
      [contentActions]="true"
      (nodeSelected)="getInput($event)"
    >
      <content-actions>
        <content-action
            title="download"
            permission="download"
            handler="download"
        >
        </content-action> 
        <content-action
          title="show preview"
          target="document"
          permission="download"
          (execute)="showPreview()"
        >
        </content-action>
        <content-action
        title="upload version"
        permission="download"
        (execute)="versionManager()"
        >
        </content-action>
      </content-actions>
    </adf-document-list>

    <adf-toolbar> 
      <adf-upload-button
        [rootFolderId]="documentList.currentFolderId || '-root-'"
        [adf-check-allowable-operation]="create"
        (success)="uploadSuccess($event)"
      >
      </adf-upload-button>
    </adf-toolbar>

    <div class="version-manager">
      <h4>Version Manager:</h4>
      <adf-version-manager
      [node]="currentNode"
      [showComments]="true"
      [allowDownload]="true"
      >
      </adf-version-manager>
    </div>
  
  </div>
  
  <div class="panel-right">
    <h3>File Info:</h3>

    <div class="panel-right__top" *ngIf="currentNodeName">
      <div class="metadata">
        <div class="metadata__group">
          <h4>Name:</h4>
          <p>{{currentNode.name}}</p>
        </div>

        <div class="metadata__group">
          <div class="metadata__group__sub">
            <h4>Created at:</h4>
            <p>{{currentNode.createdAt}}</p>
          </div>
          <div>
            <h4>Created by:</h4>
            <p>{{currentNode.createdByUser.displayName}}</p>
          </div>
        </div>

        <div class="metadata__group">
          <div class="metadata__group__sub">
            <h4>Last modified By:</h4>
            <p>{{currentNode.modifiedByUser.displayName}}</p>
          </div>

          <div class="metadata__group__sub">
            <h4>Last modified at</h4>
            <p>{{currentNode.modifiedAt}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>