.trainers{
    display: flex;
    flex-direction: column;

    width: 99%;

    &__trainer{
        width: 99%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: left;
        align-content: center;

        &__profilePic{
            max-height: 50px;
            max-width: 50px;
            padding: 3px;
        }
    }
}