.trainers{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 99%;

    &__trainer{
        width: 99%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-bottom: 20px;

        &__profilePic{
            max-height: 100px;
            max-width: 100px;
        }


        &__description{
            margin-left: 10px;
        }
    }
}