
// Variables
$border-width: 3px;

.my-profile {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    width: 100%;
}

.form {
    width: 90%;

    height: auto;
    padding: 10px;

    &__group{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        &__input{
            caret-color: orange;
            width:98%;
            height: 40px;
            font-size:16px;

            // &:invalid {
            //     border: $border-width solid lightgray;
            // }

            // &:valid {
            //     border: $border-width solid green;
            // }

            // &--unrequired:valid{
            //     @extend .form__group__input;
            //     border: $border-width solid lightgray;
            // }
        }

        &__label{
            font-size: 14px;
        }

        &--buttons{
            @extend .form__group;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-content: center;
        }

        &__button{
            width: 150px;
            height: 50px;
            background: orange;
            margin-left: 25px;
            margin-bottom: 10px;
            border: none;
            font-size: large;
            font-weight: bolder;
            color: black;
        }
    }

    &__fieldset{
        border:2px solid orange;
        width: 95%;
        height: auto;
        padding: 10px;
        margin-bottom: 20px;

        &__legend{
            font-size: 18px;

        }
    }
}  