<div cclass='form'>
    <form action='#' *ngIf="currentUser">  
        <H1>Profiel Info</H1>

        <fieldset class=form__fieldset>
            <legend class=form__fieldset__legend>
                Persoonlijke informatie
            </legend>

            <mat-form-field class="form__group">     
                <mat-label class="form__group__label" for="firstName">Voornaam:</mat-label>
                <input matInput class="form__group__input" id="firstName" required type="text" name="firstName" [(ngModel)]="currentUser.firstName">
            </mat-form-field> 
            <mat-form-field class="form__group">     
                <mat-label class="form__group__label" for="lastName">Achternaam:</mat-label>
                <input matInput placeholder="Last Name" class="form__group__input" id="lastName" required type="text" name="lastName" [(ngModel)]="currentUser.lastName">
            </mat-form-field> 
            <mat-form-field class="form__group">
                <mat-label class="form__group__label" for="phone">Telefoonnummer:</mat-label>
                <input matInput class="form__group__input" id="phone" required type="text" name="phone" [(ngModel)]="currentUser.mobile">
            </mat-form-field> 
            <mat-form-field class="form__group">
                <mat-label class="form__group__label" for="email">Email:</mat-label>
                <input matInput class="form__group__input" id="email" required type="email" name="email" [(ngModel)]="currentUser.email">
            </mat-form-field>  
        </fieldset>

        <fieldset class=form__fieldset>
            <legend class=form__fieldset__legend>
                Bedrijfs Informatie
            </legend>
            <mat-form-field class="form__group">
                <mat-label class="form__group__label" for="position">Functie:</mat-label>
                <input matInput class="form__group__input--unrequired" id="position" type="text" name="position" [(ngModel)]="currentUser.jobTitle">
            </mat-form-field> 
            <mat-form-field class="form__group">
                <mat-label class="form__group__label" for="description">Omschrijving/Samenvatting:</mat-label>
                <textarea matInput placeholder="Ex. as a consultant I spent most my time doing...." name="description" id="description" cols="30" rows="10" [(ngModel)]="currentUser.description"></textarea>
            </mat-form-field>   
        </fieldset>

    </form>
    <div class="form__group--buttons">
        <button mat-raised-button color="accent" class="form__group__button" (click)="updateUser()">Updaten</button>
    </div>

    <p>*required</p>

    
</div>