<div class="tutorial-page">
    <form action="submit" #userForm="ngForm" >
        <h3>Create User Account</h3>
        <div class="form-group">
            <label for="id">Id:</label><br>
            <input type="text" placeholder="id">
        </div>
        <div class="form-group">
            <label for="firstName">First name:</label><br>
            <input type="firstName" placeholder="firstName">
        </div>
        <div>
            <label for="lastName">Last Name:</label><br>
            <input type="lastName" placeholder="lastName">
        </div>
        <div>
            <label for="description">Description</label><br>
            <input type="description" placeholder="description">
        </div>
        <div>
            <label for="email">Email</label><br>
            <input type="email" placeholder="email">
        </div>
        <div>
            <label for="company">Company</label><br>
            <input type="company" placeholder="company">
        </div>
        <div>
            <label for="password">Password</label><br>
            <input type="password" placeholder="password">
        </div>
        <button>Submit</button>
    </form>
</div>